/*
|--------------------------------------------------------------------------
| #THEME
|--------------------------------------------------------------------------
*/




$sidebar-width: 100px;

$mobile-width: 50px;




// #SEPERATOR
// =========================================================================

.seperator {
    background: color(grey-lighter);
}


// #POPUP
// =========================================================================

.us-popup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: z(highest);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    display: none;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        height: 100%;
        width: 100%;
        background: rgba(color(white), .8);
    }

    .block {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 40;
        max-width: 50%;
        padding: .5rem;
        text-align: center;
        background: color(white);
        @include shadow(huge);
        overflow: scroll;

        @include breakpoint(md) {
            max-width: 75%;
            max-height: 75%;
        }

        > div {
            height: 100%;
            padding: $gutter;
            background: #F4F4F4;

            @include breakpoint(md) {
                padding: $gutter * .5;
            }
        }
    }

    &-close {
        position: absolute;
        top: 0;
        right: 0;
        padding: .5rem;
        background: transparent !important;
        cursor: pointer;
    }

    h2 {
        text-transform: uppercase;

        @include breakpoint(md) {
            font-size: 2rem;
        }
    }

    em {
        font-style: normal;
        color: color(success);
    }

    p {
        font-size: .75rem;
    }

    &-compare {
        position: relative;
        z-index: 10;
        
        p {
            @include rhythm(4);

            @include breakpoint(md) {
                font-size: 1rem;
            }
        }
    }

    img {
        width: 100%;
        margin-top: -3rem;

        @include breakpoint(md) {
            margin-top: -1rem;
        }
    }
}

.popup-image {
    
    @include breakpoint(md) {
        display: none;
    }

    &-mobile {
        display: none;

        @include breakpoint(md) {
            display: block;
        }
    }
}


// #MEDIA OBJECT
// =========================================================================

.media-object {
    display: flex;
    margin-bottom: $gutter;

    img {
        margin-right: 1rem;
    }

    footer {
        display: inline-block;
        background: color(grey-lightest);
        border-radius: radius(small);
    }

    ul {
        display: inline-flex;
        align-items: center;
        list-style-type: none;
    }

    li {
        margin-bottom: 0;
        padding: .5rem;
        display: flex;
        align-items: center;
    }
}


// #SETUP
// =========================================================================

body {
    overflow: hidden;
}

table {
    border: solid 1px color(grey-light);
    width: 100%;
}

thead {
    border-bottom: solid 1px color(grey-light);
}

th {
    text-align: left;
}

tr {
    border-bottom: none;
}




// #NAV
// =========================================================================

.nav {
    position: relative;
    float: left;
    display: block;
    width: $sidebar-width;
    height: 100vh;
    background: color(grey-lighter);
    text-align: center;

    @include breakpoint(md) {
        width: $mobile-width;
    }

    ul {
        display: block;
        height: auto;
    }

    &-brand {
        background: color(black);
        height: $sidebar-width;
        padding: .5rem;

        @include breakpoint(md) {
            height: $mobile-width;
        }

        img {
            height: 100%;
        }
    }

    a:not(.nav-brand) {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: color(black);

        @include breakpoint(md) {
            font-size: .75rem;
            margin-bottom: -1rem;
        }

        img {
            max-height: 50px;

            @include breakpoint(md) {
                max-height: 35px;
            }
        }
    }
}

.hamburger {
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
}

.off-canvas {
    width: 200px;

    svg {
        float: right;
        fill: color(error);
        margin-bottom: $gutter;
    }

    ul {
        list-style-type: none;
        clear: both;
    }

    a {
        display: flex;
        align-items: center;
        color: color(black);
        font-size: ms(1);
        text-decoration: none;
    }
    
    img {
        height: 1rem;
        margin-right: .5rem;
    }
}




// #CONTENT
// =========================================================================

.content {
    position: relative;
    float: right;
    width: calc(100% - #{$sidebar-width});
    height: 100vh;
    overflow-y: scroll;

    @include breakpoint(md) {
        width: calc(100% - #{$mobile-width});
    }
}




// #TOPBAR
// =========================================================================


.topbar {
    position: fixed;
    z-index: z(higher);
    display: flex;
    align-items: center;
    height: $sidebar-width;
    width: 100%;
    background: color(grey-lighter);

    @include breakpoint(md) {
        height: $mobile-width;
    }

    &-brand {
        display: block;
        width: 400px;
        padding: 0 1rem;

        img {
            max-width: 100%;
        }
    }

    ul {
        display: flex;
        align-items: center;
        @include flex-position(left);
        margin-bottom: 0;
        margin-right: 10rem;
        list-style-type: none;

        @include breakpoint(md) {
            margin-right: 7rem;
        }
    }

    li {
        margin-bottom: 0;

        @include breakpoint(md) {
            display: none;
        }

        &:first-of-type,
        &:nth-of-type(2) {

            &:after {
                content: '|';
            }
        }

        &:last-of-type {
            
            @include breakpoint(md) {
                display: block;
            }
        }

        img {
            width: 25px;
        }
    }

    a {
        position: relative;
        z-index: z(low);
        text-decoration: none;
        padding: 0 1rem;
        text-transform: uppercase;
        letter-spacing: .05rem;
        color: color(black);
    }
}

.cart-count {
    position: absolute;
    z-index: -10;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -1rem;
    left: -.25rem;
    height: 30px;
    width: 30px;
    border: solid 2px color(black);
    border-radius: radius(circle);
    font-size: .75rem;

    &:after {
        content: '';
        position: absolute;
        bottom: -5px;
        right: -5px;
        height: 18px;
        width: 18px;
        background: color(grey-lighter);
        border-radius: radius(circle);
    }
}




// #PAGE
// =========================================================================

.page {
    min-height: calc(90vh - #{$sidebar-width});
    width: 100%;
    margin-top: $sidebar-width;
    padding: $gutter;
    display: flex;

    @include breakpoint(md) {
        min-height: calc(90vh - #{$mobile-width});
        margin-top: $mobile-width;
    }

    &-images {
        border-right: solid 1px color(grey-lighter);
        padding-right: $gutter * .5;

        @include breakpoint(md) {
            order: 2;
            padding-right: 0;
            border-right: none;
        }

        img {
            max-width: 100%;
            margin-bottom: $gutter * .5;
        }
    }

    &-details {
        
        @include breakpoint(md) {
            order: 1;
        }
    }
}

.print-confirm {
    display: flex;

    label {
        display: inline-block;
        font-weight: bold;
        color: color(black);
    }

    input {
        width: auto;
        display: inline-block;
    }
}

.print-details {
    background: color(grey-lightest);
    border: 1px solid color(grey-lighter);
    padding: 1rem;
    margin-bottom: $gutter;
    border-radius: radius(small);

    .field {
        margin-bottom: 0;
    }

    label {
        display: inline-block;
        font-weight: bold;
        color: color(black);
    }

    input,
    select {
        display: inline-block;
        width: auto;
    }

    select {
        min-width: 100px;
    }
}




// #PRODUCT CARD
// =========================================================================

.product-card {
    text-decoration: none;
    color: color(font);
    margin-bottom: $gutter;

    h6 {
        font-weight: normal;
    }

    .card-image {
        height: 250px;
    }

    .card-body {
        background: color(grey-lighter);
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        > p {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 55px;
            padding: 0 $gutter;
            background: color(black);
            color: color(white);
        }
    }

    .card-title {
        padding: $gutter * .15 $gutter * .5;
    }

    h6 {
        font-size: ms(0);
        line-height: 1;
    }

    p {
        margin-bottom: 0;
    }
}




// #FOOTER
// =========================================================================

.footer {
    display: flex;
    align-items: flex-end;
    padding: $gutter $gutter * 2;

    @include breakpoint(md) {
        display: block;
    }

    p {
        margin-bottom: 0;

        a {
            font-weight: bold;

            @include breakpoint(md) {
                display: block;
            }
        }
    }
    
    ul {
        list-style-type: none;
        display: flex;
        @include flex-position(left);
    }

    a {
        color: color(black);
        padding: .25rem;
    }

    strong {

        a {
            color: color(black);
            text-decoration: none;
            padding-left: 0;
        }
    }
}




// #CONTACT
// =========================================================================

.contact {

    &-details {

        ul {
            list-style-type: none;
        }

        li {
            display: flex;
            align-items: center;
        }

        svg {
            height: 1rem;
            margin-right: .5rem;
        }
    }
}





// #POPOVER
// =========================================================================

.popovers {

    label {
        margin-bottom: $gutter * .5;
    }

    input {
        width: auto;
        margin-right: .25rem;
    }

    svg {
        height: 1rem;
    }
}

.popover {
    position: relative;
    display: inline-block;
    font-style: normal;
    cursor: pointer;

    &:after {
        content: attr(data-popover);
        position: absolute;
        z-index: z(middle);
        display: block;
        top: 0;
        left: 110%;
        width: 500px;
        padding: $gutter * .5;
        color: color(grey-lightest);
        background: color(grey-darkest);
        border-radius: radius(small);
        @include shadow(raised);
        opacity: 0;
        pointer-events: none;
    }

    &:hover {

        &:after {
            opacity: 1;
        }
    }
}





// #LIGHTBOX
// =========================================================================

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: z(higher);
    height: 100%;
    width: 100%;
    background: rgba(color(black), .8);
    cursor: pointer;
    visibility: hidden;

    &-trigger {
        cursor: pointer;
    }
}
