/*
|--------------------------------------------------------------------------
| #FORMS
|--------------------------------------------------------------------------
*/




.form-row {
    display: flex;

    @include breakpoint(md) {
        display: block;
    }
}

.field {
    flex: 1 1 auto;
    margin-right: $gutter;
    margin-bottom: $gutter;

    @include breakpoint(md) {
        margin-right: 0;
    }

    &:last-of-type {
        margin-right: 0;
    }

    input,
    textarea,
    select {
        background-color: color(grey-lightest);
    }

    > label {
        margin-bottom: $global-trail;
    }

    strong {
        margin-left: .25rem;
    }

    small {
        color: color(grey);
        margin-left: .25rem;

        @include breakpoint(md) {
            display: block;
        }
    }

    &.is-inline {

        img {
            min-width: 75px;
            max-width: 75px;
        }

        div {
            display: flex;

            @include breakpoint(md) {
                display: block;
            }
        }

        label {
            margin-right: 1rem;
            display: flex;
            align-items: center;
        }

        input {
            width: auto;
            margin-right: .5rem;
        }

        select {
            width: 100px;
            margin-left: 1rem;
            margin-right: 1rem;
        }

        span {
            margin-right: .5rem;
        }
    }

    &.is-flexed {
        display: flex;
        align-items: center;

        label {
            flex: 0 0 auto;
            margin-left: .5rem;
            margin-bottom: 0;
        }
    }

    &.is-columns {
        columns: $gutter 5;

        @include breakpoint(md) {
            columns: $gutter 2;
        }

        label {
            margin-bottom: .5rem;
        }
    }
}

input[type="file"] {
    display: none;
}

.image-zone {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    width: 75px;
    border: dashed 3px color(grey-lighter);
    background: color(grey-lightest);
    color: color(grey-lighter);

    &:after {
        content: '+';
        font-size: ms(6);
    }
}

.design-orientation {

    > div {
        display: flex;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            margin-right: 1rem;
        }
    }

    img {
        max-width: 80px;
        max-height: 50px;
        margin-bottom: .5rem;
    }
}

.addon {
    display: flex;
    align-items: center;

    label {
        margin-bottom: 0;
    }

    input {
        width: auto;
        margin-left: .5rem;
        margin-right: .5rem;
    }
}

.print-confirm {
    display: flex;
    align-items: center;

    label {
        margin-bottom: 0;
    }

    input {
        margin: 0 .25rem;
    }
}

.logo-type {

    img {
        min-width: 75px !important;
        max-width: 75px !important;
        max-height: 50px;
        object-fit: contain;
    }

    label {
        display: block !important;
    }
    
    span {
        display: flex;
        align-items: center;
    }

    .logo-character {
        display: flex !important;

        input {
            display: none;
        }

        span {
            margin-left: 1rem;
            display: block;
        }
    }

}
