{% extends 'layouts/app.twig' %}
{% block pageclass %}{% endblock %}
{% block title %}FAQs{% endblock %}

{% block content %}

<div class="column-12">
    <h6>FAQs</h6>
    <div class="accordion">
        <div class="accordion-panel">
            <div class="accordion-title"><p>What if I don’t have all of the information right now?</p></div>
            <div class="accordion-content">
                That’s not a problem. Just send us what you have in terms of content, information and direction and we’ll start working with that. Remember, after you complete your order you’ll be matched with a Real Human designer that you can discuss details with later.  
            </div>
        </div>
        <hr class="seperator">
        <div class="accordion-panel">
            <div class="accordion-title"><p>What if I make a mistake filling out the form?</p></div>
            <div class="accordion-content">Also not a problem. Every order is personally reviewed by one our team members. If there were any mistakes made just let us know and we’ll help resolve it, even if a refund is in order.  </div>
        </div>
        <hr class="seperator">
        <div class="accordion-panel">
            <div class="accordion-title"><p>What if I need changes to design after it’s done?</p></div>
            <div class="accordion-content">If you wanted something changed or updated after the project is completed, just let us know. If it’s something small or a quick change we’ll take care of it free of charge. </div>
        </div>
        <hr class="seperator">
        <div class="accordion-panel">
            <div class="accordion-title"><p>Do you use wordpress?</p></div>
            <div class="accordion-content">We typically do not use WordPress. All of our websites are custom coded and by default do not have a content management system. If you need to be able to change some of your website content yourself, we can integrate a custom content management system specifically for your needs at an extra cost. However if you would like your website built on WordPress please let us know ahead of time and we can make that happen.</div>
        </div>
        <hr class="seperator">
        <div class="accordion-panel">
            <div class="accordion-title"><p>What do you mean by Satisfaction Guaranteed"</p></div>
            <div class="accordion-content">It means that we Guarantee that you’ll like our work. If you don’t initially love it, we’ll keep working on it until you do! Even if that means exceeding the limit revisions specified on the job description. Our main concern is making sure our clients get exactly what they need and want. </div>
        </div>
        <hr class="seperator">
        <div class="accordion-panel">
            <div class="accordion-title"><p>What does Hosting + Management include?</p></div>
            <div class="accordion-content">All of new website purchases include a 12 Month Hosting + Management Package. That includes Fast & Secure Hosting for the first 12 months as well as 1 hour of updates per month to be used at your discretion. </div>
        </div>
        <hr class="seperator">
        <div class="accordion-panel">
            <div class="accordion-title"><p>How do I make changes on my website?</p></div>
            <div class="accordion-content">After your site was launched we would have provided you with your own unique log in information to our Web Support System. If you did not receive your login information, let us know. Once you have that information, simply login to the system, create a new support ticket describing what you would like changed / fixed / updated and someone from our Web Maintenance Team will get right on it.</div>
        </div>
        <hr class="seperator">
        <div class="accordion-panel">
            <div class="accordion-title"><p>How will I receive my designs?</p></div>
            <div class="accordion-content">Via Email. Depending on the file size we will ether attach your designs in an email or send you a download link to access your files.</div>
        </div>
        <hr class="seperator">
        <div class="accordion-panel">
            <div class="accordion-title"><p>What if I want to host my own website?</p></div>
            <div class="accordion-content">You’re more than welcome to host your own website. Once we’re done we can package and export your source files. However, you are responsible for setting it up on your own server as well as the ongoing management a that point.</div>
        </div>
        <hr class="seperator">
        <div class="accordion-panel">
            <div class="accordion-title"><p>What happens after the initial 12 Months of Hosting & Management over?</p></div>
            <div class="accordion-content">We’ll reach out to you when the initial 12 months is almost over and give you the option to renew your hosting + management. The cost to renew for another 12 months of hosting + management is $375 + HST. </div>
        </div>
        <hr class="seperator">
        <div class="accordion-panel">
            <div class="accordion-title"><p>Do you offer discounts on larger orders or packages?</p></div>
            <div class="accordion-content">At the moment we do not offer discounts or packages directly through DarkRoast Express. If you’re interested in a package on multiple products/ services and the order total is more that $3500. Let us know before you check out and we can offer you preferred pricing manually.  </div>
        </div>
        <hr class="seperator">
        <div class="accordion-panel">
            <div class="accordion-title"><p>Do you offer rush delivery on print products?</p></div>
            <div class="accordion-content">At the moment we do not order rush delivery on any print products directly through our DarkRoast Express platform. If you need something quick, let us know and we may be able to accommodate.</div>
        </div>
        <hr class="seperator">
        <div class="accordion-panel">
            <div class="accordion-title"><p>Do you offer spot UV, Foil, Edge coloring or any other features for business cards?</p></div>
            <div class="accordion-content">At the moment we only offer basic business cards on our DarkRoast Express Platform. We typically do offer a wide variety of features, materials and print types and custom solutions but you will have to contact us for a custom quote.</div>
        </div>
        <hr class="seperator">
        <div class="accordion-panel">
            <div class="accordion-title"><p>What is your refund policy?</p></div>
            <div class="accordion-content">If work on your order has not yet began, we can offer a 100% refund minus transaction fees.  After work has begun we will need to assess the reason for the refund and how much progress has already been made on your order to be able to determine an appropriate refund.</div>
        </div>
        <hr class="seperator">
        <div class="accordion-panel">
            <div class="accordion-title"><p>Will there be taxes on my order?</p></div>
            <div class="accordion-content">Yes. We operate in Ontario Canada and as a result all orders are subject to 13%HST</div>
        </div>
    </div>

</div>

{% endblock %}
