{% extends 'layouts/app.twig' %}
{% block pageclass %}{% endblock %}
{% block title %}How It Works{% endblock %}

{% block content %}

<div class="column-12">
    <div class="container container-full">
        <div class="column-8">
            <h6 class="title">What is DarkRoast Digital Express?</h6>
            <p><strong>First, what is DarkRoast Digital</strong></p>
            <p>We’re a Full Service Digital Agency located in Windsor, Ontario. We have an awesome team of in-house graphic designers, web developers, and video producers.  We specialize in helping brands and businesses of all sizes maximize their marketing efforts by providing them with killer digital and print media. </p>
            <p><strong>DarkRoast Digital Express</strong> is a new and innovative way for our clients to interface with our team. Our Express platform is an online marketplace that allows us to streamline the standard project management and invoicing process. Using this platform makes the overall process a little bit easier for us, and as a result allows us to transfer time and cost savings to you, our clients.</p>
            <p>DarkRoast Digital Express is new and we’re constantly working on making the overall experience for our clients easier and adding to our product/services catalog. If you experience any issues, have any questions, or are looking for a product or service that is currently not available just let us know.</p>
        </div>
        <div class="column-4">
            <img src="/assets/img/pods.jpg" dragable="false" class="image-contain">
        </div>
    </div>
    <h6>How Does it Work?</h6>
    <div class="container container-full">
        <div class="column-2">
            <img src="/assets/img/select.svg" draggable="false">
            <p><strong style="color: black">1. Select</strong></p>
            <p>Select the service or product that suits your needs and fill out the Design Brief Form. Don’t worry if you don’t have all of the information</p>
        </div>
        <div class="column-2">
            <img src="/assets/img/2-checkout.svg" draggable="false">
            <p><strong style="color: black">2. Checkout</strong></p>
            <p>Use our secure checkout form to complete your order and provide us with your contact information.</p>
        </div>
        <div class="column-2">
            <img src="/assets/img/connect.svg" draggable="false">
            <p><strong style="color: black">3. Connect</strong></p>
            <p>Once your order is complete, one of our designers will email you to say hi and see if you have any questions or additonal instructions.</p>
        </div>
        <div class="column-2">
            <img src="/assets/img/magic.svg" draggable="false">
            <p><strong style="color: black">4. Magic</strong></p>
            <p>A whole lot of creative magic happens....then we’ll start sending you drafts of your designs to start getting your feedback</p>
        </div>
        <div class="column-2">
            <img src="/assets/img/deliver.svg" draggable="false">
            <p><strong style="color: black">5. Deliver</strong></p>
            <p>When everything is done and you’re happy with your designs, we’ll send over your final files and/or ship your print products.</p>
        </div>
    </div>
</div>

{% endblock %}
