/*
|--------------------------------------------------------------------------
| #TYPOGRAPHY
|--------------------------------------------------------------------------
*/




// #FONTS
// =========================================================================

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

$font-body: 'Montserrat';
$font-display: 'Montserrat';
$font-mono: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;




// #WEIGHTS
// =========================================================================

$display-weight: 800;
$body-weight: 600;
