/*
|--------------------------------------------------------------------------
| #THEME
|--------------------------------------------------------------------------
*/



// #RADIUS
// =========================================================================

$has-radius: true;



// #SHADOWS
// =========================================================================

$has-shadow: false;

$button-has-shadow: false;




// #COLORS
// =========================================================================

$is-cool: true;

$is-dark: false;

$is-background-white: true;




// #NAV
// =========================================================================

$is-nav-fixed: false;

$is-nav-right: false;
