<p><small>Cutoff time for Same Day Turnaround is 12pm (EST) Monday - Friday</small></p>

<p>Let our Professional Web Developers help you out with a Quick Fix on your WordPress site. We can help with:</p>
<ul>
    <li>Design, style and CSS changes</li>
    <li>Theme Installation, Configuration, and Customization</li>
    <li>Plugin Installation, Configuration, and Customization</li>
    <li>HTML and JavaScript changes</li>
    <li>Minor Responsivness Issues</li>
</ul>

<div class="field">
    <label for="custom-email"><strong>Think you'll need more time?</strong></label>
    <select name="option[0]time">
        <option value="no" selected>No</option>
        <option value="2-hours">2 Hours - $98</option>
        <option value="3-hours">3 Hours - $144</option>
        <option value="5-hours">5 Hours - $235</option>
        <option value="8-hours">8 Hours - $368</option>
        <option value="10-hours">10 Hours - $450</option>
    </select>
</div>

<p>Not sure how long your fix will take? Contact us and let us know what you need done and we can help figure that out.</p>
<footer class="contact-footer">
    <ul>
        <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
    <g class="nc-icon-wrapper" fill="#444444">
    <path d="M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24 1.12.37 2.33.57 3.57.57.55 0 1 .45 1 1V20c0 .55-.45 1-1 1-9.39 0-17-7.61-17-17 0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.25.2 2.45.57 3.57.11.35.03.74-.25 1.02l-2.2 2.2z"></path>
    </g>
    </svg>1.519.915.5884</li>
        <li><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" xml:space="preserve" width="24" height="24"><g class="nc-icon-wrapper" fill="#444444"><path data-color="color-2" fill="#444444" d="M20,6v8c0,0.552-0.448,1-1,1h-7.359L7,19h7l6,4v-4h3c0.552,0,1-0.448,1-1V7 c0-0.552-0.448-1-1-1H20z"></path> <path fill="#444444" d="M17,0H1C0.448,0,0,0.448,0,1v11c0,0.552,0.448,1,1,1h3v5.469L11,13h6c0.552,0,1-0.448,1-1V1 C18,0.448,17.552,0,17,0z"></path></g></svg><div data-id="063dc69480"><a href="https://www.livechatinc.com/help-desk-software/?partner=lc_9185445&amp;utm_source=chat_button" onclick="LC_API.open_chat_window({source:'button'});return false;" style="color: #48555C; text-decoration:none;padding:0 .5rem"><strong>Chat Now</strong></a></div></li>
    </ul>
</footer>

<div class="field">
    <label for="site-url">WordPress Site URL</label>
    <input type="text" name="site-url">
</div>

<div class="field">
    <label for="admin-url">WordPress Admin Login URL</label>
    <input type="text" name="admin-url">
</div>

<div class="field">
    <label for="admin-username">Admin Username</label>
    <input type="text" name="admin-username">
</div>

<div class="field">
    <label for="admin-password">Admin Password</label>
    <input type="text" name="admin-password">
</div>

<div class="field">
    <label for="cpanel-url">CPanel Login URL <small>This is optional but we will most likely need it</small></label>
    <input type="text" name="cpanel-url">
</div>

<div class="field">
    <label for="cpanel-username">CPanel Username</label>
    <input type="text" name="cpanel-username">
</div>

<div class="field">
    <label for="cpanel-password">CPanel Password</label>
    <input type="text" name="cpanel-password">
</div>

<div class="field">
    <label>
        Screenshots <small>(And other relevant files)</small>
        <span class="image-zone"></span>
        <input type="file" name="files[]" id="files" multiple>
    </label>
</div>

<div class="field">
    <label for="instructions">Please describe what you need help with, be specific.</label>
    <textarea name="instructions"></textarea>
</div>
