<label>
    <input type="checkbox" name="description" value="Adorable">Adorable
</label>
<label>
    <input type="checkbox" name="description" value="Adventurous">Adventurous
</label>
<label>
    <input type="checkbox" name="description" value="Artistic">Artistic
</label>
<label>
    <input type="checkbox" name="description" value="Athletic">Athletic
</label>
<label>
    <input type="checkbox" name="description" value="Bold">Bold
</label>
<label>
    <input type="checkbox" name="description" value="Brigt">Brigt
</label>
<label>
    <input type="checkbox" name="description" value="Business-like">Business-like
</label>
<label>
    <input type="checkbox" name="description" value="Busy">Busy
</label>
<label>
    <input type="checkbox" name="description" value="Calm">Calm
</label>
<label>
    <input type="checkbox" name="description" value="Casual">Casual
</label>
<label>
    <input type="checkbox" name="description" value="Charming">Charming
</label>
<label>
    <input type="checkbox" name="description" value="Cheerful">Cheerful
</label>
<label>
    <input type="checkbox" name="description" value="Chic">Chic
</label>
<label>
    <input type="checkbox" name="description" value="Classic">Classic
</label>
<label>
    <input type="checkbox" name="description" value="Clever">Clever
</label>
<label>
    <input type="checkbox" name="description" value="Colourful">Colourful
</label>
<label>
    <input type="checkbox" name="description" value="Conservative">Conservative
</label>
<label>
    <input type="checkbox" name="description" value="Contemporary">Contemporary
</label>
<label>
    <input type="checkbox" name="description" value="Cool">Cool
</label>
<label>
    <input type="checkbox" name="description" value="Creative">Creative
</label>
<label>
    <input type="checkbox" name="description" value="Cutting Edge">Cutting Edge
</label>
<label>
    <input type="checkbox" name="description" value="Delicate">Delicate
</label>
<label>
    <input type="checkbox" name="description" value="Detailed">Detailed
</label>
<label>
    <input type="checkbox" name="description" value="Earthy">Earthy
</label>
<label>
    <input type="checkbox" name="description" value="Elegant">Elegant
</label>
<label>
    <input type="checkbox" name="description" value="Energetic">Energetic
</label>
<label>
    <input type="checkbox" name="description" value="Exciting">Exciting
</label>
<label>
    <input type="checkbox" name="description" value="Fabulous">Fabulous
</label>
<label>
    <input type="checkbox" name="description" value="Familiar">Familiar
</label>
<label>
    <input type="checkbox" name="description" value="Fancy">Fancy
</label>
<label>
    <input type="checkbox" name="description" value="Fashionable">Fashionable
</label>
<label>
    <input type="checkbox" name="description" value="Festive">Festive
</label>
<label>
    <input type="checkbox" name="description" value="Fierce">Fierce
</label>
<label>
    <input type="checkbox" name="description" value="Flirty">Flirty
</label>
<label>
    <input type="checkbox" name="description" value="Formal">Formal
</label>
<label>
    <input type="checkbox" name="description" value="Fresh">Fresh
</label>
<label>
    <input type="checkbox" name="description" value="Friendly">Friendly
</label>
<label>
    <input type="checkbox" name="description" value="Fun">Fun
</label>
<label>
    <input type="checkbox" name="description" value="Futuristic">Futuristic
</label>
<label>
    <input type="checkbox" name="description" value="Glamorous">Glamorous
</label>
<label>
    <input type="checkbox" name="description" value="Graceful">Graceful
</label>
<label>
    <input type="checkbox" name="description" value="Hip">Hip
</label>
<label>
    <input type="checkbox" name="description" value="Industrial">Industrial
</label>
<label>
    <input type="checkbox" name="description" value="Innovative">Innovative
</label>
<label>
    <input type="checkbox" name="description" value="Intense">Intense
</label>
<label>
    <input type="checkbox" name="description" value="Lively">Lively
</label>
<label>
    <input type="checkbox" name="description" value="Majestic">Majestic
</label>
<label>
    <input type="checkbox" name="description" value="Modern">Modern
</label>
<label>
    <input type="checkbox" name="description" value="Natural">Natural
</label>
<label>
    <input type="checkbox" name="description" value="Nautical">Nautical
</label>
<label>
    <input type="checkbox" name="description" value="Noisy">Noisy
</label>
<label>
    <input type="checkbox" name="description" value="One-of-a-kind">One-of-a-kind
</label>
<label>
    <input type="checkbox" name="description" value="Organic">Organic
</label>
<label>
    <input type="checkbox" name="description" value="Playful">Playful
</label>
<label>
    <input type="checkbox" name="description" value="Powerful">Powerful
</label>
<label>
    <input type="checkbox" name="description" value="Professional">Professional
</label>
<label>
    <input type="checkbox" name="description" value="Quaint">Quaint
</label>
<label>
    <input type="checkbox" name="description" value="Quirky">Quirky
</label>
<label>
    <input type="checkbox" name="description" value="Retro">Retro
</label>
<label>
    <input type="checkbox" name="description" value="Ritzy">Ritzy
</label>
<label>
    <input type="checkbox" name="description" value="Romantic">Romantic
</label>
<label>
    <input type="checkbox" name="description" value="Royal">Royal
</label>
<label>
    <input type="checkbox" name="description" value="Rustic">Rustic
</label>
<label>
    <input type="checkbox" name="description" value="Serious">Serious
</label>
<label>
    <input type="checkbox" name="description" value="Silly">Silly
</label>
<label>
    <input type="checkbox" name="description" value="Sleek">Sleek
</label>
<label>
    <input type="checkbox" name="description" value="Striking">Striking
</label>
<label>
    <input type="checkbox" name="description" value="Strong">Strong
</label>
<label>
    <input type="checkbox" name="description" value="Stunning">Stunning
</label>
<label>
    <input type="checkbox" name="description" value="Stylish">Stylish
</label>
<label>
    <input type="checkbox" name="description" value="Techy">Techy
</label>
<label>
    <input type="checkbox" name="description" value="Unconvential">Unconvential
</label>
<label>
    <input type="checkbox" name="description" value="Unique">Unique
</label>
<label>
    <input type="checkbox" name="description" value="Upbeat">Upbeat
</label>
<label>
    <input type="checkbox" name="description" value="Urban">Urban
</label>
<label>
    <input type="checkbox" name="description" value="Vintage">Vintage
</label>
<label>
    <input type="checkbox" name="description" value="Whimsical">Whimsical
</label>
<label>
    <input type="checkbox" name="description" value="Wild">Wild
</label>
<label>
    <input type="checkbox" name="description" value="Witty">Witty
</label>
<label>
    <input type="checkbox" name="description" value="Wistful">Wistful
</label>
<label>
    <input type="checkbox" name="description" value="Youthful">Youthful
</label>
