{% include 'Product/partials/' ~ product.category ~ '/products/' ~ product.slug ~ '.twig' %}

<div class="field">
    <label for="files">
        Content Files
        <span class="image-zone"></span>
        <input type="file" name="files[]" id="files" multiple>
    </label>
</div>

<div class="field">
    <label for="instructions">Additional Instructions</label>
    <textarea name="instructions"></textarea>
</div>
