<ul class="product-details">
    <li><img src="/assets/img/designs.svg" draggable="false"> {{ product.details.two }}</li>
</ul>

<!-- End Details -->

<div class="field print-detail">
    <label>Size</label>
    <select name="option[0]size">
        <option value="default" data-price="0" disabled selected>Select Size</option>
        <option value="print-popup-33x80" data-price="119">33"x80"</option>
    </select>
    <div class="cost-of-option">
        <p><strong>Total: </strong> $<span class="price" data-price="{{ product.price }}"></span></p>
    </div>
</div>