<ul class="product-details">
    <li><img src="/assets/img/designs.svg" draggable="false"> {{ product.details.two }}</li>
</ul>

<!-- End Details -->

<div class="field print-detail">
    <label>Quantity (sized 3.5"x2")</label>
    <select name="option[0]quantity">
        <option value="default" data-price="0" disabled selected>Select Quantity</option>
        <optgroup label="Print">
            <option value="print-business-cards-250" data-price="34">250</option>
            <option value="print-business-cards-500" data-price="45">500</option>
            <option value="print-business-cards-1000" data-price="54">1000</option>
            <option value="print-business-cards-2500" data-price="89">2500</option>
        </optgroup>
        <optgroup label="Print with Soft Touch">
            <option value="print-business-cards-soft-250" data-price="59">250</option>
            <option value="print-business-cards-soft-500" data-price="68">500</option>
            <option value="print-business-cards-soft-1000" data-price="79">1000</option>
            <option value="print-business-cards-soft-2500" data-price="139">2500</option>
        </optgroup>
    </select>
    <div class="cost-of-option">
        <p><strong>Total: </strong> $<span class="price" data-price="{{ product.price }}"></span></p>
    </div>
</div>