<div class="field print-detail">

    <label>Quantity</label>
    <select name="option[0]quantity">
        <option value="default" data-price="0" disabled selected>Select Quantity</option>
        <optgroup label='Bi-Fold -or- Tri-Fold (8.5"x11")'>
            <option value="print-brochure-tri-100" data-price="105">100</option>
            <option value="print-brochure-tri-250" data-price="189">250</option>
            <option value="print-brochure-tri-500" data-price="279">500</option>
        </optgroup>

        <optgroup label='Quad-Fold (8.5"x14")'>
            <option value="print-brochure-quad-100" data-price="159">100</option>
            <option value="print-brochure-quad-250" data-price="314">250</option>
            <option value="print-brochure-quad-500" data-price="465">500</option>
        </optgroup>

    </select>
    
    <hr>
    <div class="cost-of-option">
        <p><strong>Total: </strong> $<span class="price" data-price="{{ product.display_price }}">{{ product.display_price }}</span></p>
    </div>
</div>
