<ul class="product-details">
    <li>13oz Scrim Vinyl Banner</li>
    <li>Matte Finish</li>
    <li>Hemmed On All Sides</li>
</ul>

<!-- End Details -->

<div class="field print-detail">
    <label>Size</label>
    <select name="option[0]size">
        <option value="default" data-price="0" disabled selected>Select Size</option>
        <optgroup label="Print">
            <option value="print-banner-2x4" data-price="59">2'x4'</option>
            <option value="print-banner-3x5" data-price="95">3'x5'</option>
            <option value="print-banner-4x6" data-price="139">4'x6'</option>
            <option value="print-banner-3x8" data-price="139">3'x8'</option>
            <option value="print-banner-4x10" data-price="189">4'x10'</option>
        </optgroup>

        <optgroup label="Print with Gromets (Corners) (no cost)">
            <option value="print-banner-gromets-2x4" data-price="59">2'x4'</option>
            <option value="print-banner-gromets-3x5" data-price="95">3'x5'</option>
            <option value="print-banner-gromets-4x6" data-price="139">4'x6'</option>
            <option value="print-banner-gromets-3x8" data-price="139">3'x8'</option>
            <option value="print-banner-gromets-4x10" data-price="189">4'x10'</option>
        </optgroup>
    </select>
    
    <hr>
    <div class="cost-of-option">
        <p><strong>Total: </strong> $<span class="price" data-price="{{ product.display_price }}"></span></p>
    </div>
</div>


