<ul class="product-details">
    <li><img src="/assets/img/designs.svg" draggable="false"> {{ product.details.two }}</li>
    <li><img src="/assets/img/revisions.svg" draggable="false"> {{ product.details.three }}</li>
    <li><img src="/assets/img/designer.svg" draggable="false"> {{ product.details.four }}</li>
    <li><img src="/assets/img/satisfaction.svg" draggable="false"> {{ product.details.five }}</li>
</ul>

<!-- End Details -->

<div class="field is-inline">
    <label>Shirt Style</label>
    <div>
        <label class="radio"><input type="radio" name="shirt-style" value="T-Shirt"><span class="radio-button"></span> T-Shirt</label>
        <label class="radio"><input type="radio" name="shirt-style" value="Hoodie"><span class="radio-button"></span> Hoodie</label>
        <label class="radio"><input type="radio" name="shirt-style" value="Tank Top"><span class="radio-button"></span> Tank Top</label>
        <label class="radio"><input type="radio" name="shirt-style" value="other"><span class="radio-button"></span> Other<small> (specify in instructions)</small></label>
    </div>
</div>

<div class="field is-inline">
    <label>Shirt Gender</label>
    <div>
        <label class="radio"><input type="radio" name="shirt-gender" value="Men's"><span class="radio-button"></span> Men's</label>
        <label class="radio"><input type="radio" name="shirt-gender" value="Women's"><span class="radio-button"></span> Women's</label>
        <label class="radio"><input type="radio" name="shirt-gender" value="Unisex"><span class="radio-button"></span> Unisex</label>
    </div>
</div>
