<h4>Your Darkroast Digital Express Order.</h4>
<p><strong>Order #{{ order.id }}</strong></p>

{% for products in order.products %}
    <ul>
        <li><h6>Product: {{ product.name }}</h6></li>
        <li>Delivered In: {{ product.time }} {{ product.length }}</li>
    </ul>
{% endfor %}
