{% include 'Product/partials/' ~ product.category ~ '/products/' ~ product.slug ~ '.twig' %}

<div class="field">
    <label for="">Company Name</label>
    <input type="text" name="company-name">            
</div>

<div class="field">
    <label for="">Links to Social Media Page where it will be used (or Website)<small>optional - if more than one separate by commas</small></label>
    <input type="text" name="social-media-links">        
</div>

<div class="field">
    <label for="">Describe Your Business <small>i.e. industry, services, products</small></label>
    <input type="text" name="business-description">       
</div>

<div class="field"><label>Describe the tone you're going for<small>(you can choose more than one)</small></label></div>
<div class="field is-columns is-inline">
    {% include 'Product/partials/design/description.twig' %}
</div>

<div class="field">
    <label for="description">{{ product.name }} Content <small>i.e. title, specials, services, photos etc.</small></label>
    <textarea name="description"></textarea>
</div>

<div class="field">
    <label for="files">
        Content Files
        <span class="image-zone"></span>
        <input type="file" name="files[]" id="files" multiple>
    </label>
</div>

<div class="field">
    <label for="">Additional Instructions</label>
    <textarea name="instructions"></textarea>
</div>
