<div class="field is-inline logo-type">
    <label>Logo Type <small>you can select more than one</small></label>
    <div>
        <label>
            <span>
                <input type="checkbox" name="logo-type[]" value="symbol"> 
                Symbol
            </span>  
            <img src="/assets/img/logo-symbol.jpg" alt="script">
        </label>
        <label>
            <span>
                <input type="checkbox" name="logo-type[]" value="wordmark">
                Wordmark
            </span>
            <img src="/assets/img/logo-wordmark.jpg" alt="script">
        </label>
        <label>
            <span>
                <input type="checkbox" name="logo-type[]" value="lettermark">
                Lettermark
            </span>
            <img src="/assets/img/logo-lettermark.jpg" alt="script">
        </label>
        <label>
            <span>
                <input type="checkbox" name="logo-type[]" value="emblem">
                Emblem
            </span>
            <img src="/assets/img/logo-emblem.jpg" alt="script">
        </label>
        <label>
            <span>
                <input type="checkbox" name="logo-type[]" value="combination">
                Combination
            </span>
            <img src="/assets/img/logo-combination.jpg" alt="script">
        </label>
        <label>
            <span>
                <input type="checkbox" name="logo-type[]" value="other">
                Other
            </span>
            <img src="/assets/img/logo-other.jpg" alt="script">
        </label>
        <label class="logo-character">
            <img src="/assets/img/logo-character.jpg" alt="script">
            <span>
                <input type="checkbox" name="logo-type[]" value="character" disabled>
                Character <br>
                For logos with custom characters or mascots please <a href="{{ path_for('contact') }}">contact us for a quote</a>
            </span>
        </label>
    </div>
</div>
