{% include 'Product/partials/' ~ product.category ~ '/products/' ~ product.slug ~ '.twig' %}

<div class="field">
    <label for="company-name">Company{% if product.name == 'Tshirt Design' %} / Organization / Team{% endif %} Name</label>
    <input type="text" name="company-name">            
</div>

<div class="field">
    <label for="company-website">{% if product.name != 'Tshirt Design' %}Company{% endif %} Website <small>optional</small></label>
    <input type="text" name="company-website">        
</div>

{% if product.name == 'Tshirt Design' %}
    <div class="field">
        <label for="description">Briefly Describe Company / Organization / Team <small>(i.e Charity, Softball Team, Roofing Company)</small></label>
        <input type="text" name="describe">
    </div>
    
    {% else %}

    <div class="field">
        <label for="description">Briefly describe your business <small>(i.e Products, Services, Industry)</small></label>
        <input type="text" name="describe">
    </div>

{% endif %}

{% if product.slug == 'logo-design' %}
    {% include 'Product/partials/design/logo.twig' %}
{% endif %}

<div class="field is-inline">
    <label>Typography <small>you can select more than one</small></label>
    <div>
        <label><input type="checkbox" name="typography[]" value="script"><img src="/assets/img/products/design/typography/script.jpg" alt="script"></label>
        <label><input type="checkbox" name="typography[]" value="serif"><img src="/assets/img/products/design/typography/serif.jpg" alt="serif"></label>
        <label><input type="checkbox" name="typography[]" value="sans-serif"><img src="/assets/img/products/design/typography/sans-serif.jpg" alt="sans-serif"></label>
        <label><input type="checkbox" name="typography[]" value="slab"><img src="/assets/img/products/design/typography/slab.jpg" alt="slab"></label>
        <label><input type="checkbox" name="typography[]" value="mono"><img src="/assets/img/products/design/typography/mono.jpg" alt="mono"></label>
        <label><input type="checkbox" name="typography[]" value="hand"><img src="/assets/img/products/design/typography/hand.jpg" alt="hand"></label>
        <label><input type="checkbox" name="typography[]" value="decorative"><img src="/assets/img/products/design/typography/decorative.jpg" alt="decorative"></label>
        <label><input type="checkbox" name="typography[]" value="modern"><img src="/assets/img/products/design/typography/modern.jpg" alt="modern"></label>
        <label><input type="checkbox" name="typography[]" value="retro"><img src="/assets/img/products/design/typography/retro.jpg" alt="retro"></label>
    </div>
</div>

<div class="field">
    <label for="colours-textures">Colours and Textures <small>i.e. Blue & Gold or Red, Black, Yellow</small></label>
    <input type="text" name="colours-textures">        
</div>

<div class="field"><label>Describe the look you're going for<small>(you can choose more than one)</small></label></div>
<div class="field is-columns is-inline">
    {% include 'Product/partials/design/description.twig' %}
</div>

<div class="field">
    <label for="themes-images">Themes and Images <small>i.e Coffe Beans, Mountains, Winter Time (you can select more than one)</small></label>
    <input type="text" name="themes-images">       
</div>

<div class="field">
    {% if product.name == 'Logo Design' %}
        <label for="content">Logo Design Description <small>(briefly describe what you're looking for)</small></label>
    {% elseif product.name == 'Business Card Design' %}
        <label for="content">Business Card Content <small>i.e. Contact Information, Name, Job Titles etc.</small></label>
    {% elseif product.name == 'Tshirt Design' %}
        <label for="content">Tshirt Design Description <small>(briefly describe what you're looking for)</small></label>
    {% else %}
        <label for="content">{{ product.name }} Content <small>i.e. title, specials, services, photos, etc.</small></label>
    {% endif %}
    
    <textarea name="content"></textarea>
</div>

<div class="field">
    <label for="files">
        Content Files
        <span class="image-zone"></span>
        <input type="file" name="files[]" id="files" multiple>
    </label>
</div>

<div class="field">
    <label for="images">
        Images
        <span class="image-zone"></span>
        <input type="file" name="images[]" id="images" multiple>
    </label>
</div>

{% if product.name == 'Tshirt Design' %}
    <div class="tshirt-callout">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 32" xml:space="preserve" width="32" height="32"><g class="nc-icon-wrapper" fill="#444444"><path fill="#444444" d="M30.3,5.9l-4.2-4.2c-1.1-1.1-3.1-1.1-4.2,0L2.3,21.3c-0.1,0.1-0.2,0.2-0.2,0.3c0,0,0,0.1,0,0.1 c0,0.1,0,0.1,0,0.2l-1,8c0,0.3,0.1,0.6,0.3,0.8C1.5,30.9,1.7,31,2,31c0,0,0.1,0,0.1,0l8-1c0.1,0,0.1,0,0.2,0c0,0,0.1,0,0.1,0 c0.1,0,0.2-0.1,0.3-0.2l19.6-19.6C31.5,9,31.5,7,30.3,5.9z M25,12.6L19.4,7L21,5.4l5.6,5.6L25,12.6z M10,27.6l-2.1-2.1l13.6-13.6 l2.1,2.1L10,27.6z M18,8.4l2.1,2.1L6.5,24.1L4.4,22L18,8.4z"></path></g></svg>
        <strong>Design Only</strong> - T-Shirt printing currently not available
    </div>
{% endif %}

{% if product.printable %}
<div class="field print-confirm">
    <label for="print-confirm">Do you need this printed?</label>
    <input type="checkbox" name="print-confirm">Yes
</div>

<div class="print-details">
    {% include 'Product/partials/' ~ product.category ~ '/details/' ~ product.slug ~ '.twig' %}
</div>
{% endif %}

<div class="field">
    <label for="instructions">Additional Instructions</label>
    <textarea name="instructions"></textarea>
</div>
