/*
|--------------------------------------------------------------------------
| #BUTTONS CORE
|--------------------------------------------------------------------------
*/




@mixin button($background: color(black), $border: $background, $color: color(white), $small: false, $large: false) {
    background: $background;
    border: 1px solid $border;
    color: $color;
    font-weight: 400;
    display: inline-block;
    text-decoration: none;
    line-height: $global-line-height;
    margin-bottom: $global-trail;

    @if ($small) {
        padding: $gutter * .25 $gutter *.5;
    } @elseif($large) {
        padding: $gutter * .5 $gutter;
    } @else {
        padding: $gutter * .15 $gutter;
    }

    @if ($has-radius) {
        border-radius: radius(small);
    }

    @if ($button-has-shadow) {
        @include shadow(raised);
    }

    cursor: pointer;
    outline: none;
}

button,
.button {
    @include button();

    &.is-small {
        @include button($small: true);
    }

    &.is-large {
        @include button($large: true);
    }
}

button.is-neutral,
.button.is-neutral {
    @include button($background: color(grey-lightest), $border: color(grey-lighter), $color: color(grey));
}

button.is-primary,
.button.is-primary {
    @include button($background: color(primary));
}

button.is-secondary,
.button.is-secondary {
    @include button($background: color(secondary));
}

button.is-outline,
.button.is-outline {
    @include button($background: transparent, $border: color(primary), $color: color(primary));
    box-shadow: none;

    &.is-neutral {
        border-color: color(grey-lighter);
        color: color(grey);
    }

    &.is-primary {
        border-color: color(primary);
        color: color(primary);
    }

    &.is-secondary {
        border-color: color(secondary);
        color: color(secondary);
    }
}

button[disabled] {
    background: color(grey-lighter);
    color: color(grey-light);
    border-color: color(grey-light);
    cursor: not-allowed;
}
