<label>
    <input type="checkbox" name="layout" value="About">About
</label>
<label>
    <input type="checkbox" name="layout" value="Services">Services
</label>
<label>
    <input type="checkbox" name="layout" value="Gallery">Gallery
</label>
<label>
    <input type="checkbox" name="layout" value="Menu">Menu
</label>
<label>
    <input type="checkbox" name="layout" value="Team">Team
</label>
<label>
    <input type="checkbox" name="layout" value="Contact + Map">Contact + Map
</label>
<label>
    <input type="checkbox" name="layout" value="Eail Collection">Eail Collection
</label>
<label>
    <input type="checkbox" name="layout" value="Call to Action">Call to Action
</label>
<label>
    <input type="checkbox" name="layout" value="Testimonials">Testimonials
</label>
<label>
    <input type="checkbox" name="layout" value="Instagram Feed">Instagram Feed
</label>
<label>
    <input type="checkbox" name="layout" value="Reviews">Reviews
</label>
<label>
    <input type="checkbox" name="layout" value="Clients">Clients
</label>
<label>
    <input type="checkbox" name="layout" value="Portfolio">Portfolio
</label>
<label>
    <input type="checkbox" name="layout" value="Pricing">Pricing
</label>
<label>
    <input type="checkbox" name="layout" value="Video">Video
</label>
<label>
    <input type="checkbox" name="layout" value="How it works">How it works
</label>
<label>
    <input type="checkbox" name="layout" value="Quote Request">Quote Request
</label>
<label>
    <input type="checkbox" name="layout" value="Quote Calculator">Quote Calculator
</label>
<label>
    <input type="checkbox" name="layout" value="Features">Features
</label>
<label>
    <input type="checkbox" name="layout" value="Events">Events
</label>
<label>
    <input type="checkbox" name="layout" value="Static Calendar">Static Calendar
</label>
