{% include 'Product/partials/' ~ product.category ~ '/products/' ~ product.slug ~ '.twig' %}

<div class="field">
    <label for="">Company Name</label>
    <input type="text" name="company-name">            
</div>

<div class="field">
    <label for="">Old/ Current Website <small>optional</small></label>
    <input type="text" name="old-or-current-website">            
</div>

<div class="field">
    <label for="">Links to websites you like <small>optional - if more than one separate by commas</small></label>
    <input type="text" name="website-links">        
</div>

<div class="field">
    <label for="">Describe Your Business <small>i.e. industry, services, products</small></label>
    <input type="text" name="business-description">       
</div>

<div class="field is-inline">
    <label>Typography <small>you can select more than one</small></label>
    <div>
        <label><input type="checkbox" name="typography" value="script"><img src="/assets/img/products/design/typography/script.jpg" alt="script"></label>
        <label><input type="checkbox" name="typography" value="serif"><img src="/assets/img/products/design/typography/serif.jpg" alt="serif"></label>
        <label><input type="checkbox" name="typography" value="sans-serif"><img src="/assets/img/products/design/typography/sans-serif.jpg" alt="sans-serif"></label>
        <label><input type="checkbox" name="typography" value="slab"><img src="/assets/img/products/design/typography/slab.jpg" alt="slab"></label>
        <label><input type="checkbox" name="typography" value="mono"><img src="/assets/img/products/design/typography/mono.jpg" alt="mono"></label>
        <label><input type="checkbox" name="typography" value="hand"><img src="/assets/img/products/design/typography/hand.jpg" alt="hand"></label>
        <label><input type="checkbox" name="typography" value="decorative"><img src="/assets/img/products/design/typography/decorative.jpg" alt="decorative"></label>
        <label><input type="checkbox" name="typography" value="modern"><img src="/assets/img/products/design/typography/modern.jpg" alt="modern"></label>
        <label><input type="checkbox" name="typography" value="retro"><img src="/assets/img/products/design/typography/retro.jpg" alt="retro"></label>
    </div>
</div>

<div class="field">
    <label for="colours-textures">Colours and Textures <small>i.e. Blue & Gold or Red, Black, Yellow</small></label>
    <input type="text" name="colours-textures">        
</div>

<div class="field"><label>Describe the look you're going for <small>(you can choose more than one)</small></label></div>
<div class="field is-columns is-inline">
    {% include 'Product/partials/design/description.twig' %}
</div>

<div class="field">
    <label for="">Themes and Images <small>i.e Coffe Beans, Mountains, Winter Time (you can select more than one)</small></label>
    <input type="text" name="themes-and-images">       
</div>

<h4><strong>Step 4</strong> - Content</h4>
<hr>
<p>Unless you selected our Copywriting Feature, you are responsible for providing all of the website copy / content. <br>
You can send us this later if you don’t have it yet.</p>

<div class="field">
    <label for="keywords">Search Keywords <small>optional - if more than one separate by commas</small></label>
    <input type="text" name="keywords" placeholder="What keywords describe your business or website?">
</div>

<div class="field">
    <label for="description">Website Content <small>i.e. title, specials, services, photos, etc.</small></label>
    <textarea name="description"></textarea>
</div>

<div class="field">
    <label for="files">
        Content Files
        <span class="image-zone"></span>
        <input type="file" name="files[]" id="files" multiple>
    </label>
</div>

<div class="field">
    <label for="images">
        Images
        <span class="image-zone"></span>
        <input type="file" name="images[]" id="images" multiple>
    </label>
</div>

<div class="field">
    <label for="">Additional Instructions</label>
    <textarea name="instructions"></textarea>
</div>
