<div class="field print-detail">
    <label>Print Details</label>
</div>
<div class="field print-detail">
    <label>Quantity (sized 3.5"x2")</label>
    Select
    <select name="option[quantity]" required>
        <option selected disabled>Select Quantity</option>
        <option value="business-card-250" data-price="29">250</option>
        <option value="business-card-500" data-price="28">500</option>
        <option value="business-card-1000" data-price="45">1000</option>
        <option value="business-card-2500" data-price="75">2500</option>
    </select>
    <div class="cost-of-option">
        <hr>
        <p><strong>Total <small>(Design + Print)</small> : </strong> $<span class="price" data-price="{{ product.price }}"></span></p>
    </div>
</div>
