<div class="field print-detail">
    <label>Print Details</label>
</div>
<div class="field print-detail">
    <label>Size</label>
    <input type="radio" name="size" value="4x6" data-print="1"> 4"x6"
    <input type="radio" name="size" value="4x9" data-print="2"> 4"x9"
    <input type="radio" name="size" value="6x8" data-print="3"> 6"x8"
    <input type="radio" name="size" value="8.5x11" data-print="4"> 8.5"x11"

    <label class="quantity-label">Quantity</label>
    <select name="option[0]quantity" data-select="1">
        <option value="default" data-price="0" disabled selected>Select</option>
        <option value="flyer-50-4x6" data-price="39">50</option>
        <option value="flyer-100-4x6" data-price="50">100</option>
        <option value="flyer-500-4x6" data-price="62">500</option>
        <option value="flyer-1000-4x6" data-price="71">1000</option>
        <option value="flyer-2500-4x6" data-price="118">2500</option>
    </select>

    <select name="option[1]quantity" data-select="2">
        <option value="default" data-price="0" disabled selected>Select</option>
        <option value="flyer-50-4x9" data-price="59">50</option>
        <option value="flyer-100-4x9" data-price="75">100</option>
        <option value="flyer-500-4x9" data-price="105">500</option>
        <option value="flyer-1000-4x9" data-price="115">1000</option>
        <option value="flyer-2500-4x9" data-price="175">2500</option>
    </select>

    <select name="option[2]quantity" data-select="3">
        <option value="default" data-price="0" disabled selected>Select</option>
        <option value="flyer-100-6x8" data-price="75">100</option>
        <option value="flyer-500-6x8" data-price="105">500</option>
        <option value="flyer-1000-6x8" data-price="115">1000</option>
        <option value="flyer-2500-6x8" data-price="175">2500</option>
    </select>

    <select name="option[3]quantity" data-select="4">
        <option value="default" data-price="0" disabled selected>Select</option>
        <option value="flyer-50-8.5x11" data-price="72">50</option>
        <option value="flyer-100-8.5x11" data-price="89">100</option>
        <option value="flyer-500-8.5x11" data-price="240">500</option>
    </select>
    <div class="cost-of-option">
        <hr>
        <p><strong>Total <small>(Design + Print)</small> : </strong> $<span class="price" data-price="{{ product.price }}"></span></p>
    </div>
</div>
