<div class="field print-detail">
    <label>Size</label>
    <select name="option[0]size" style="width: 100%">
        <option value="default" data-price="0" disabled selected>Select Size</option>
        <option value="popup-33x80" data-price="99">33"x80"</option>
    </select>

    <hr>
    <div class="cost-of-option">
        <p><strong>Total: </strong> $<span class="price" data-price="0">0.00</span></p>
    </div>
</div>
