<div class="field print-detail">
    <label>Print Details</label> 13ox Scrim Vinyl Banner | Matte Finish | Hemmed on all sides
</div>
<div class="field print-detail">
    <label>Size</label>
    <select name="option[0]size">
        <option value="banner-2x4">2'x4'</option>
        <option value="banner-3x5">3'x5'</option>
        <option value="banner-4x6">4'x6'</option>
        <option value="banner-3x8">3'x8'</option>
        <option value="banner-4x10">4'x10'</option>
    </select>
</div>
