<div class="field">
    <label>Print Details</label>
    100lb Gloss Book Paper
</div>

<div class="field">
    <label>Size</label>
    <input type="radio" name="print-size" value="8.5 x 11"> 8.5" x 11"
    <input type="radio" name="print-size" value="11 x 17"> 11" x 17"
    <input type="radio" name="print-size" value="12 x 18"> 12" x 18"
</div>

<div class="field">
    <label>Quantity</label>
    <select name="quantity">
        <option value="100" selected>100</option>
        <option value="500">500</option>
        <option value="1000">1000</option>
    </select>
</div>
