<div class="field print-detail">
    <label>Print Details</label>
    <p>100LB Gloss Book Stock</p>
</div>
<div class="field print-detail">
    <label>Size</label>
    <input type="radio" name="size" value="8.5x11" data-print="1"> 8.5"x11"
    <input type="radio" name="size" value="11x17" data-print="2"> 11"x17"
    <input type="radio" name="size" value="12x18" data-print="3"> 12"x18"

    <label class="quantity-label">Quantity</label>
    <select name="option[0]quantity" data-select="1">
        <option value="default" data-price="0" disabled selected>Select Quantity</option>
        <option value="poster-25-8.5x11" data-price="39">25</option>
        <option value="poster-50-8.5x11" data-price="45">50</option>
        <option value="poster-100-8.5x11" data-price="59">100</option>
        <option value="poster-250-8.5x11" data-price="99">250</option>
    </select>

    <select name="option[1]quantity" data-select="2">
        <option value="default" data-price="0" disabled selected>Select Quantity</option>
        <option value="poster-25-11x17" data-price="62">25</option>
        <option value="poster-50-11x17" data-price="75">50</option>
        <option value="poster-100-11x17" data-price="109">100</option>
        <option value="poster-250-11x17" data-price="180">250</option>
    </select>

    <select name="option[2]quantity" data-select="3">
        <option value="default" data-price="0" disabled selected>Select</option>
        <option value="poster-25-12x18" data-price="50">25</option>
        <option value="poster-50-12x18" data-price="59">50</option>
        <option value="poster-100-12x18" data-price="96">100</option>
        <option value="poster-250-12x18" data-price="175">250</option>
    </select>
    <div class="cost-of-option">
        <hr>
        <p><strong>Total <small>(Design + Print)</small> : </strong> $<span class="price" data-price="{{ product.price }}"></span></p>
    </div>
</div>
